@import url('reset.css');

body {
	background-color: lightgrey;
    display: flex;
    flex-direction: column;
}
.crypto {
	display: flex;
	flex-direction: column;
	margin-top: 2vh;
	padding: 2vh 2vw 5vh 2vw;
}
h1 {
    font-family: Arial;
	font-size: 36px;
	font-weight: 900;
	padding-bottom: 15px;
}
p {
    font-family: Monotype Corsiva;;
	font-size: 30px;
	font-weight: 200;
}
.crypto div {
	height: 5vh;
	border: 1px solid #333;
}
body .crypto:first-child div {
	background-color: red;
}
body .crypto:nth-child(2) div {
	background-color: blue;
}
body .crypto:nth-child(3) div {
	background-color: green;
}